body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  font-size: 1.125em;
  color: #333;
}

#app {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
}

.header {
    font-size: 2.25em;
}

input {
    display: flex;
    font-size: 2.1em;
    width: 50%;
    height: 10%;
    border-radius: 20px;
    padding: 10px;
}

.invalid {
    box-shadow: 10px 10px 160px 20px red;
}

.valid {
    box-shadow: 10px 10px 160px 20px green,
                inset 0px 0px 20px 2px green;
}

.footer {
    font-size: 1.1em; 
}
